PORT=3002
MONGO_URL=mongodb+srv://user:pass@cluster.mongodb.net/?appName=Cluster
JWT_SECRET=super_secure_jwt_secret
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:3000

TWELVE_DATA_API_KEY=
ALPHA_VANTAGE_API_KEY=
GEMINI_API_KEY=
MARKET_DATA_PROVIDER=mock
